@page
@using RazorPagesLibrary.Model
@model RazorPagesWeb.Pages.Ion.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ion.Name" class="control-label"></label>
                <input asp-for="Ion.Name" class="form-control" />
                <span asp-validation-for="Ion.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.Symbol" class="control-label"></label>
                <input asp-for="Ion.Symbol" class="form-control" />
                <span asp-validation-for="Ion.Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentString" class="control-label"></label>
                <input asp-for="ContentString" class="form-control" />
                <span asp-validation-for="ContentString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ion.Type" class="control-label"></label>
                <select 
                    asp-for="Ion.Type"
                    asp-items="Html.GetEnumSelectList<IonType>()"
                    class="form-control">
                </select>
                <span asp-validation-for="Ion.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
